/* Text */

.text-center {
    text-align: center;
}

.heading-small {
    font-size: 1.25rem;
}

.heading-medium {
    font-size: 1.5rem;
}

.heading-big {
    font-size: 1.75rem;
}

/* Colors */

.dark-cyan {
    background: #006161;
}

.light-cyan {
    background: #4CADAD;
}

/* Buttons */

.btn {
    padding: 0.1rem;
}

/* Container */

.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* Forms */

.form-group {
    padding: 0.25rem;
}

.form-group label {
    display: block;
}