/* Navbar */

#navbar {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}

#navbar ul {
    padding: 0.5rem;
}

#degrees .degree-text .high-school .info {
    padding: 0;
}

#home img {
    max-width: 100%;
    height: auto;
    padding-bottom: 1rem;
    border-radius: 100%;

}
